In [6]:
import os
import sys
import zipfile
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

%matplotlib inline

sys.path.append('../')
from src.data_preprocess import DataPreprocessor

pd.set_option('display.max_colwidth', 2000)

%load_ext autoreload
%autoreload 2

In [7]:
train_df = pd.read_csv('../input/train.csv')
train_df.head(2)

,listing_id,title,address,property_name,property_type,tenure,built_year,num_beds,num_baths,size_sqft,...,furnishing,available_unit_types,total_num_units,property_details_url,lat,lng,elevation,subzone,planning_area,price
0,122881,hdb flat for sale in 866 yishun street 81,sembawang / yishun (d27),866 yishun street 81,hdb 4 rooms,NaN,1988.0,3.0,2.0,1115,...,unspecified,NaN,116.0,https://www.99.co/singapore/hdb/866-yishun-street-81-adxawp85buupmsq7gwdjverc,1.414399,103.837196,0,yishun south,yishun,514500.0
1,259374,hdb flat for sale in 506b serangoon north avenue 4,hougang / punggol / sengkang (d19),hdb-serangoon estate,hdb,99-year leasehold,1992.0,4.0,2.0,1575,...,unspecified,"1, 2, 3, 4, 5, 6 br",NaN,https://www.99.co/singapore/hdb/hdbserangoon-estate-demrpm6ryc3l9buf846erprb,1.372597,103.875625,0,serangoon north,serangoon,995400.0

In [69]:
print(train_df.shape)
display(train_df.isnull().sum())
train_df_clean = DataPreprocessor.data_preprocessing_v1(train_df, test=False, uncertain=False, drop_na=False, remove_original_attributes=False)
print(train_df_clean.shape)
display(train_df_clean.isnull().sum())

(20254, 21)

listing_id                  0
title                       0
address                     0
property_name               0
property_type               0
tenure                   1723
built_year                922
num_beds                   80
num_baths                 434
size_sqft                   0
floor_level             16746
furnishing                  0
available_unit_types     1441
total_num_units          5652
property_details_url        0
lat                         0
lng                         0
elevation                   0
subzone                   113
planning_area             113
price                       0
dtype: int64

Processed function: Function 'preprocess_available_unit_types' executed in 4.9240s & Processing function: preprocess_planning_area: 100%|██████████| 14/14 [00:56<00:00,  4.07s/it]

(16127, 52)

title                            0
address                          0
property_name                    0
property_type                    0
tenure                           0
built_year                     494
num_beds                         0
num_baths                        0
size_sqft                        0
floor_level                  10550
furnishing                       0
available_unit_types          1357
total_num_units               5074
property_details_url             0
lat                              0
lng                              0
elevation                        0
subzone                         95
planning_area                    0
listing_id                       0
price                            0
title_property_type              0
title_n_beds                     0
title_address                    0
property_type_clean              0
property_type_cat_0              0
tenure_cat_0                     0
tenure_cat_1                     0
tenure_cat_2                     0
tenure_cat_3                     0
tenure_cat_4                     0
block_number                 10649
lat_lowres                       0
lng_lowres                       0
total_level_cat_0                0
floor_level_cat_0                0
floor_level_cat_1                0
floor_level_cat_2                0
floor_level_cat_3                0
floor_level_cat_4                0
floor_level_cat_5                0
floor_level_cat_6                0
floor_level_cat_7                0
furnishing_cat_0                 0
furnishing_cat_1                 0
furnishing_cat_2                 0
furnishing_cat_3                 0
number_of_types_available        0
has_studio                       0
min_br_available                 0
max_br_available                 0
planning_area_cat_0              0
dtype: int64

In [70]:
for dirname, _, filenames in os.walk('../input/auxiliary-data/'):
    for filename in filenames:
        if filename.endswith('csv'):
            print(os.path.join(dirname, filename))
            aux_df = pd.read_csv(os.path.join(dirname, filename))
            display(aux_df.head(1))

../input/auxiliary-data/sg-commerical-centres.csv

,name,type,lat,lng,subzone,planning_area
0,Central Business District,CR,1.286768,103.854529,clifford pier,downtown core

../input/auxiliary-data/sg-mrt-stations.csv

,code,line,name,opening_year,lat,lng,subzone,planning_area
0,cc1,cc,dhoby ghaut,2010,1.298912,103.846293,dhoby ghaut,museum

../input/auxiliary-data/sg-primary-schools.csv

,name,lat,lng,subzone,planning_area
0,Admiralty Primary School,1.442941,103.800345,woodlands east,serangoon

../input/auxiliary-data/sg-secondary-schools.csv

,name,lat,lng,subzone,planning_area
0,Admiralty Secondary School,1.445912,103.802908,woodlands east,woodlands

../input/auxiliary-data/sg-shopping-malls.csv

    name       lat         lng       subzone planning_area
0  10 AM  1.275568  103.863591  marina south  marina south

../input/auxiliary-data/sg-subzones.csv

                     name  area_size  population planning_area
0  ang mo kio town centre     0.3169        4810    ang mo kio

## sg-commerical-centres

In [71]:
sg_commerical_centres_df = pd.read_csv('../input/auxiliary-data/sg-commerical-centres.csv')
sg_commerical_centres_df.head(2)

,name,type,lat,lng,subzone,planning_area
0,Central Business District,CR,1.286768,103.854529,clifford pier,downtown core
1,Jurong Lake District,CR,1.334085,103.734513,lakeside (business),jurong east

In [72]:
print(sg_commerical_centres_df['name'].unique())
print(sg_commerical_centres_df['type'].unique())
print(sg_commerical_centres_df['subzone'].unique())
print(sg_commerical_centres_df['planning_area'].unique())

['Central Business District' 'Jurong Lake District'
 'Seletar Regional Centre' 'Tampines Regional Centre'
 'Woodlands Regional Centre' 'Airport Logistics Park'
 'Changi Aviation Park' 'Changi Business Park' 'Defu Industrial Park'
 'International Business Park' 'Jurong Industrial Estate'
 'Jurong Innovation District' 'Lorong Halus Industrial Park'
 'Loyang Industrial Estate' 'one-north' 'Pasir Ris Wafer Fab Park'
 'Punggol Digital District' 'Seletar Aerospace Park' 'Sengkang West'
 'Senoko Industrial Estate' 'Singapore Science Park I'
 'Singapore Science Park II' 'Sungei Kadut' 'Tuas Industrial Estate'
 'Tuas Medical Park' 'Alexandra' 'Bishan' 'Changi East Urban District'
 'Buona Vista' 'Novena' 'Paya Lebar Central' 'Serangoon' 'Tao Payoh'
 'Nanyang Technological University' 'National University of Singapore'
 'Singapore Institute of Technology'
 'Singapore Univeristy of Technology and Design'
 'Singapore Management University']
['CR' 'IEBP' 'IEPB' 'BN' 'IHL']
['clifford pier' 'lakeside (business)' 'seletar aerospace park'
 'tampines east' 'woodlands regional centre' 'changi airport' 'xilin'
 'defu industrial park' 'international business park' 'joo koon'
 'cleantech' 'kangkar' 'loyang west' 'one north'
 'pasir ris wafer fab park' 'punggol canal' 'sengkang west' 'senoko north'
 'kent ridge' 'pasir panjang 1' 'pang sua' 'tuas view'
 'tuas view extension' 'alexandra hill' 'bishan east' 'moulmein'
 'geylang east' 'serangoon central' 'toa payoh central' 'murai'
 "national university of s'pore" 'dover' 'bras basah']
['downtown core' 'jurong east' 'seletar' 'tampines' 'woodlands' 'changi'
 'hougang' 'pioneer' 'western water catchment' 'pasir ris' 'queenstown'
 'punggol' 'sengkang' 'sembawang' 'sungei kadut' 'tuas' 'bukit merah'
 'bishan' 'novena' 'geylang' 'serangoon' 'toa payoh' 'museum']

In [73]:
sg_commerical_centres_df.loc[sg_commerical_centres_df['type']=='IEPB', 'type'] = 'IEBP'
print(sg_commerical_centres_df['type'].unique())

['CR' 'IEBP' 'BN' 'IHL']

<!-- ### feature 1: under same subzone/planning_area => number of 
* CR = COMMERCIAL-RESIDENTIAL ZONE (C-R)
* IEBP, IEPB = inter-enterprise business processes
* BN = 
* IHL = Institutes of Higher Learning  -->

In [74]:
# for commerical_centres_type in sg_commerical_centres_df['type'].unique():
# sg_commerical_centres_df.groupby(['type','planning_area']).count()

In [87]:
# for subzone in sg_commerical_centres_df['subzone'].unique():
#     if subzone not in train_df_clean['subzone'].unique():
#         print(subzone)

# print("="*50)

# for planning_area in sg_commerical_centres_df['planning_area'].unique():
#     if planning_area not in train_df_clean['planning_area'].unique():
#         print(planning_area)

for subzone in train_df_clean['subzone'].unique():
    if subzone not in sg_commerical_centres_df['subzone'].unique():
        print(subzone)

print("="*50)

for planning_area in train_df_clean['planning_area'].unique():
    if planning_area not in sg_commerical_centres_df['planning_area'].unique():
        print(planning_area)

hillcrest
potong pasir
nan
farrer park
chatsworth
one tree hill
balestier
anson
katong
mount emily
woodleigh
leonie hill
serangoon garden
mei chin
tanjong pagar
marine parade
shangri-la
bedok reservoir
institution hill
joo seng
bedok south
pasir panjang 2
kembangan
upper paya lebar
bencoolen
clarke quay
flora drive
aljunied
tanjong rhu
lavender
margaret drive
nicoll
frankel
tanglin
nassim
farrer court
pasir ris central
lorong chuan
malcolm
bugis
redhill
bendemeer
kaki bukit
bukit batok south
kampong java
coronation road
boon teck
ang mo kio town centre
dhoby ghaut
tiong bahru
jelebu
gombak
ridout
boat quay
kovan
jurong gateway
upper thomson
kampong bugis
sembawang straits
holland road
tai seng
hillview
guilin
brickworks
tagore
mountbatten
oxley
mackenzie
central subzone
central water catchment
nature reserve
city hall
hougang central
selegie
simei
west coast
sennett
northland
pasir ris park
orange grove
holland drive
pearl's hill
cecil
matilda
faber
woodgrove
boulevard
fort canning
alexandra north
robertson quay
rivervale
bedok north
clementi west
siglap
compassvale
lower seletar
everton park
macpherson
telok blangah drive
yio chu kang west
pasir ris west
geylang bahru
chinatown
leedon park
anak bukit
maritime square
seletar hills
cairnhill
yuhua west
lorong ah soo
tampines west
teck whye
somerset
punggol town centre
tyersall
waterway east
kebun bahru
raffles place
changi west
sembawang hills
kallang way
bayshore
crawford
clementi woods
sengkang town centre
dairy farm
yishun west
bukit ho swee
punggol field
yio chu kang east
goodwood park
fernvale
sunset way
newton circus
hong kah
yishun central
hougang east
lim chu kang
sentosa
swiss club
yishun east
sembawang springs
depot road
taman jurong
port
paterson
yishun south
bidadari
braddell
garden
woodlands south
anchorvale
sembawang central
keat hong
ghim moh
toh tuck
mount pleasant
toa payoh west
ulu pandan
tiong bahru station
marymount
yuhua east
loyang east
choa chu kang central
woodlands east
sembawang east
yew tee
trafalgar
jurong west central
pasir ris drive
hong kah north
clementi central
dunearn
yunnan
choa chu kang north
saujana
hougang west
boon lay place
tampines north
bukit batok central
little india
people's park
telok blangah rise
springleaf
northshore
monk's hill
mandai estate
victoria
chong boon
nee soon
paya lebar north
serangoon north
khatib
teban gardens
peng siang
bangkit
changi point
telok blangah way
pei chun
commonwealth
henderson hill
woodlands west
kampong tiong bahru
boon keng
bukit merah
yio chu kang
singapore general hospital
bukit batok west
seletar
kim keat
toh guan
north coast
clementi north
lorong 8 toa payoh
bukit batok east
sungei road
wenya
cheng san
kampong ubi
townsville
sembawang north
fajar
admiralty
tanglin halt
china square
senja
midview
==================================================
bukit timah
rochor
tanglin
river valley
marine parade
ang mo kio
bedok
singapore river
kallang
orchard
bukit batok
bukit panjang
central water catchment
clementi
yishun
newton
outram
choa chu kang
jurong west
lim chu kang
southern islands
tengah
mandai
paya lebar

In [77]:
from math import sin, cos, sqrt, atan2, radians
def compute_dist(lat1:float, lng1:float, lat2:float, lng2:float)->float:
    # approximate radius of earth in km
    R = 6373.0
    lat1 = radians(lat1)
    lng1 = radians(lng1)
    lat2 = radians(lat2)
    lng2 = radians(lng2)
    dlng = lng2 - lng1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlng / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    return R * c
    
def distance_to_closest_centres(row):
    shortest_distances = {
        'CR_dist': np.inf,
        'CR': None,
        'IEBP_dist': np.inf,
        'IEBP': None,
        'BN_dist': np.inf,
        'BN': None,
        'IHL_dist': np.inf,
        'IHL': None,
    }
    for type in sg_commerical_centres_df["type"].unique():
        available_centers = sg_commerical_centres_df.loc[sg_commerical_centres_df["type"]==type, ['lat','lng','name']]
        available_centers['dist'] = available_centers.apply(lambda available_center: compute_dist(row['lat'], row['lng'], available_center['lat'], available_center['lng']), axis=1)
        shortest_distances[f"{type}_dist"] =  available_centers["dist"].min()
        shortest_distances[type] =  available_centers.loc[available_centers["dist"]==available_centers["dist"].min(),'name'].values[0]
    return shortest_distances

In [78]:
# print(train_df_clean.shape)
unique_location = train_df_clean[['lat', 'lng']].drop_duplicates().reset_index(drop=True)
closest_commercial_centers = unique_location.merge(pd.DataFrame(list(unique_location.apply(distance_to_closest_centres, axis=1))), left_index=True, right_index=True)
closest_commercial_centers.head()

,lat,lng,CR_dist,CR,IEBP_dist,IEBP,BN_dist,BN,IHL_dist,IHL
0,1.316290,103.840576,3.631745,Central Business District,6.062285,one-north,0.519706,Novena,2.496481,Singapore Management University
1,1.324831,103.811786,6.365110,Central Business District,3.850981,one-north,3.161346,Buona Vista,4.340380,Singapore Institute of Technology
2,1.329565,103.868241,4.998533,Central Business District,4.147009,Defu Industrial Park,2.251203,Tao Payoh,4.225327,Singapore Management University
3,1.316507,103.857477,3.323980,Central Business District,6.020743,Defu Industrial Park,1.613884,Novena,2.408625,Singapore Management University
4,1.315721,103.841609,3.526370,Central Business District,6.151546,one-north,0.517382,Novena,2.390907,Singapore Management University

In [80]:
train_df_clean = train_df_clean.merge(closest_commercial_centers, left_on=['lat','lng'], right_on=['lat','lng'])
print(train_df_clean.shape)
train_df_clean.head()

(16127, 60)

,title,address,property_name,property_type,tenure,built_year,num_beds,num_baths,size_sqft,floor_level,...,max_br_available,planning_area_cat_0,CR_dist,CR,IEBP_dist,IEBP,BN_dist,BN,IHL_dist,IHL
0,1 bed condo for sale in 10 evelyn,10 evelyn road,10 evelyn,Condo,freehold,2022.0,1.0,1.0,495,NaN,...,3,0.0,3.631745,Central Business District,6.062285,one-north,0.519706,Novena,2.496481,Singapore Management University
1,1 bed condo for sale in 10 evelyn,10 evelyn road,10 evelyn,Condo,freehold,2022.0,1.0,1.0,495,NaN,...,3,0.0,3.631745,Central Business District,6.062285,one-north,0.519706,Novena,2.496481,Singapore Management University
2,1 bed condo for sale in 10 evelyn,10 evelyn road,10 evelyn,apartment,freehold,2022.0,1.0,1.0,495,NaN,...,3,0.0,3.631745,Central Business District,6.062285,one-north,0.519706,Novena,2.496481,Singapore Management University
3,1 bed condo for sale in 10 evelyn,10 evelyn road,10 evelyn,condo,freehold,2022.0,1.0,1.0,495,ground,...,3,0.0,3.631745,Central Business District,6.062285,one-north,0.519706,Novena,2.496481,Singapore Management University
4,1 bed condo for sale in 10 evelyn,10 evelyn road,10 evelyn,condo,freehold,2022.0,1.0,1.0,495,low,...,3,0.0,3.631745,Central Business District,6.062285,one-north,0.519706,Novena,2.496481,Singapore Management University

# sg-mrt-stations.csv

In [82]:
sg_mrt_stations_df = pd.read_csv('../input/auxiliary-data/sg-mrt-stations.csv')
sg_mrt_stations_df.head(2)

,code,line,name,opening_year,lat,lng,subzone,planning_area
0,cc1,cc,dhoby ghaut,2010,1.298912,103.846293,dhoby ghaut,museum
1,cc2,cc,bras basah,2010,1.296862,103.850667,bras basah,museum

In [90]:
for col in sg_mrt_stations_df.columns:
    print(col)
    print(len(sg_mrt_stations_df[col].unique()))
    if len(sg_mrt_stations_df[col].unique())<50: 
        print(sg_mrt_stations_df[col].unique())

code
151
line
8
['cc' 'ce' 'cg' 'dt' 'ew' 'ne' 'ns' 'te']
name
127
opening_year
20
[2010 2009 2011 2012 2001 2002 2015 2013 2017 1989 1987 1988 1990 2003
 2006 1996 2019 2014 2020 2021]
lat
126
lng
126
subzone
104
planning_area
39
['museum' 'downtown core' 'kallang' 'geylang' 'hougang' 'toa payoh'
 'serangoon' 'bishan' 'tanglin' 'bukit timah' 'queenstown' 'bukit merah'
 'tampines' 'changi' 'bukit batok' 'bukit panjang' 'newton' 'rochor'
 'outram' 'singapore river' 'bedok' 'pasir ris' 'clementi' 'jurong east'
 'jurong west' 'pioneer' 'tuas' 'sengkang' 'punggol' 'choa chu kang'
 'sungei kadut' 'woodlands' 'sembawang' 'yishun' 'ang mo kio' 'novena'
 'river valley' 'orchard' 'straits view']

In [88]:
for subzone in train_df_clean['subzone'].unique():
    if subzone not in sg_mrt_stations_df['subzone'].unique():
        print(subzone)

print("="*50)

for planning_area in train_df_clean['planning_area'].unique():
    if planning_area not in sg_mrt_stations_df['planning_area'].unique():
        print(planning_area)

hillcrest
potong pasir
nan
chatsworth
balestier
anson
katong
mount emily
woodleigh
leonie hill
serangoon garden
marine parade
shangri-la
institution hill
dover
joo seng
pasir panjang 2
upper paya lebar
flora drive
margaret drive
frankel
tanglin
lorong chuan
malcolm
bugis
bukit batok south
kampong java
boon teck
ang mo kio town centre
tiong bahru
ridout
kampong bugis
sembawang straits
hillview
kangkar
brickworks
mountbatten
oxley
mackenzie
central water catchment
selegie
west coast
northland
kent ridge
pasir ris park
orange grove
holland drive
pearl's hill
cecil
matilda
faber
pasir panjang 1
woodgrove
boulevard
fort canning
alexandra north
robertson quay
rivervale
bedok north
clementi west
siglap
lower seletar
everton park
telok blangah drive
yio chu kang west
pasir ris west
seletar hills
cairnhill
yuhua west
lorong ah soo
teck whye
punggol town centre
waterway east
changi west
sembawang hills
kallang way
crawford
clementi woods
dairy farm
bukit ho swee
punggol field
yio chu kang east
goodwood park
fernvale
sunset way
hong kah
yishun central
hougang east
lim chu kang
sentosa
swiss club
yishun east
depot road
paterson
yishun south
braddell
garden
anchorvale
keat hong
ghim moh
toh tuck
mount pleasant
ulu pandan
marymount
yuhua east
loyang east
sembawang east
trafalgar
pasir ris drive
hong kah north
dunearn
yunnan
choa chu kang north
saujana
hougang west
boon lay place
tampines north
pasir ris wafer fab park
little india
people's park
telok blangah rise
springleaf
monk's hill
mandai estate
chong boon
paya lebar north
serangoon north
teban gardens
peng siang
bangkit
changi point
telok blangah way
pei chun
henderson hill
kampong tiong bahru
bukit merah
singapore general hospital
alexandra hill
bukit batok west
defu industrial park
seletar
kim keat
toh guan
north coast
clementi north
lorong 8 toa payoh
bukit batok east
wenya
townsville
sembawang north
fajar
admiralty
tanglin halt
senja
midview
==================================================
marine parade
central water catchment
lim chu kang
southern islands
tengah
mandai
paya lebar
seletar

In [ ]:
from math import sin, cos, sqrt, atan2, radians
def compute_dist(lat1:float, lng1:float, lat2:float, lng2:float)->float:
    # approximate radius of earth in km
    R = 6373.0
    lat1 = radians(lat1)
    lng1 = radians(lng1)
    lat2 = radians(lat2)
    lng2 = radians(lng2)
    dlng = lng2 - lng1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlng / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    return R * c
    
def distance_to_closest_centres(row):
    shortest_distances = {
        'CR_dist': np.inf,
        'CR': None,
        'IEBP_dist': np.inf,
        'IEBP': None,
        'BN_dist': np.inf,
        'BN': None,
        'IHL_dist': np.inf,
        'IHL': None,
    }
    for type in sg_commerical_centres_df["type"].unique():
        available_centers = sg_commerical_centres_df.loc[sg_commerical_centres_df["type"]==type, ['lat','lng','name']]
        available_centers['dist'] = available_centers.apply(lambda available_center: compute_dist(row['lat'], row['lng'], available_center['lat'], available_center['lng']), axis=1)
        shortest_distances[f"{type}_dist"] =  available_centers["dist"].min()
        shortest_distances[type] =  available_centers.loc[available_centers["dist"]==available_centers["dist"].min(),'name'].values[0]
    return shortest_distances

# sg-primary-schools.csv

# sg-secondary-schools.csv

# sg-shopping-malls.csv

# sg-subzones.csv